@font-face {
  font-family: "ConcertOne";
  src: url('./ConcertOne-Regular.ttf') format('truetype')
}

body{
  font-family: "ConcertOne", serif;
  margin:0;
  padding:0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden
}
