body{
    background-color: #30BFBF;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 2em;
    /*grid-auto-rows: 200px;*/
    grid-auto-rows: minmax(100px, auto);
    justify-items: stretch;
    align-items: stretch;
}

.wrapper > div{
    background: white;
    padding: 1em;
    border-radius: 20px;
}

.box1{
   grid-column: 1/2;   /* column → */
   grid-row: 1/6;      /* row ↓ */
}
.box2{
   grid-column: 2;
   grid-row: 1/4;
   text-align: center;
}
.box3{
   grid-column: 2;   
   grid-row: 4/6;
}
.box4{
    grid-column: 3;
    grid-row: 1/6;
}

/* .wrapper > div:nth-child(odd){  this means each odd one will be white for ex.
    background:white;
}*/

.back-button {
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.taxi-button {
    color: black;
    background: #ffdf00;
    border: none;
    border-color: transparent;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}